:host {
  display: block;
  clear: both;
  margin: 0 0 20px 0;

  img {
    display: block;
    width: 100px;
    float: left;
    margin: 0 20px 20px 0;
  }

  > div {
    width: auto;
    float: left;
  }

  h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 20px;
  }

  a {
    text-decoration: none;
    color: #007bff;
  }

  abbr {
    display: block;
    text-decoration: none;
  }
}
