:host {
  display: block;

  input {
    display: block;
    margin: 4px;
    padding: 6px 10px;
    font-size: 16px;
    height: 24px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
  }
}
