/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

.container {
  display: block;
  padding: 0 16px;
  margin: 0 auto;
  width: auto;
  max-width: 1000px;

  @media (max-width: 992px) {
    max-width: 800px;
  }

  @media (max-width: 535px) {
    max-width: 100%;
  }
}
